{% extends "::layout.html.twig" %}

{% block stylesheets %}
        {{ parent() }}  
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/oxindfeedback/css/timeline.css')}}">
{% endblock %}

{% block head_javascripts %} 
    {{ parent() }}  
    <script type="text/javascript" src="{{ asset('bundles/oxindfeedback/js/timeline-min.js')}}"></script>
{% endblock %}
    
{% block timeline %}
    <div class="row">
                <div id="mytimeline"></div>
    </div>
{% endblock %}  
{% block content %}

<div class="row">
                {% block title %}

        <div class="col-lg-8">
            
        </div>

                {% endblock %}

                {% block signin %}
        <div class="col-lg-4 ">
            {% if app.user is not defined or app.user == null %}
                <div class="userlink">
                    New and returning users may <a href="{{ path('fos_user_security_login')}}" >Sign In</a>
                </div>
            {% else %}
                <div class="userlink">
                    <a href="{{ path('fos_user_security_logout')}}">Logout</a>
                </div>
            {% endif %}
        </div>
                {% endblock %}
    </div>  
 
    <div class="row">
                {% block feedbackcontent %}
                       <div class="col-lg-8">
                            <ul class="nav nav-tabs">
                                {% for  val in   feedbackTypes %}
                                        <li {% if feedbacktype.getName() == val['name'] %} class="active" {% endif %}><a href="{{ path('oxind_dashboard',{'feedbacktype_name': val['name'] } ) }}">{{  val['name'] }}</a></li>
                                {% endfor %}
                            </ul>
                                <h3> {{ feedbacktype.getName() }} </h3>
                            {% include 'OxindFeedbackBundle:Feedback:feedback_main.html.twig' %} 
                        </div>
                        <div class="col-lg-4">

                            {{ render(controller('OxindFeedbackBundle:Feedback:getFeedbackForm' , {'feedbacktype_id' : feedbacktype.getId() })) }}

                         </div>   
                 
                {% endblock %}
    </div>
                        

{% endblock %}

{% block javascripts %}
{{ parent() }}
     <script src="{{ asset('bundles/oxindfeedback/js/search.js') }}" type="text/javascript"  ></script>
     {{  render(controller('OxindFeedbackBundle:Timeline:index' , {'divId' : 'mytimeline' })) }}
{% endblock %}