{% extends "::layout.html.twig" %}
{% block content %}

<div class="row">
                {% block title %}

        <div class="col-lg-8">
            <h3> {{ feedbacktype.getName() }} </h3>
        </div>

                {% endblock %}

                {% block signin %}
        <div class="col-sm-4">
            New and returning users may <a href="{{ path('fos_user_security_login')}}" data-toggle="modal">Sign In</a>
        </div>
                {% endblock %}
    </div>  

    <div class="container">
                {% block feedbackcontent %}
            <div class="row">
                <div class="col-lg-8">
                    <div class="col-lg-6"> {{ include ('OxindFeedbackBundle:Feedback:feedback_search_form.html.twig', { 'feedbacktype_id': feedbacktype.getId() } ) }}</div>
                    <div class="col-lg-6">{% render (controller('OxindFeedbackBundle:Feedback:feedbackfilter' ,{'feedbacktype_id' : feedbacktype.getId() })) %}</div>
                </div>
                    <div class="col-lg-4">
                        <div class="feedback-links"> 

                            <div class="feedback-form-container">
            {% for  val in   feedbackTypes%}               
                                    <div>
                                        
                                            <a href="{{ path('oxind_dashboard',{'feedbacktype_name': val['name'] } ) }}">{{  val['name'] }}</a>            
                                    </div>            
            {% endfor %}
                                </div>
                            </div>
                    </div>    
            </div>

                    <div class="row">
                        <div class="col-lg-8">
                {{ render(controller('OxindFeedbackBundle:Feedback:listFeedback', {'feedbacktype_id' : feedbacktype.getId() })) }}                    
                            </div>
                {% endblock %}
                {% block feedbackform %}
                            <div class="col-lg-4">   {{ render(controller('OxindFeedbackBundle:Feedback:getFeedbackForm' , {'feedbacktype_id' : feedbacktype.getId() })) }}</div>
                        
                {% endblock %}
</div>
                        </div>


{% endblock %}

{% block javascripts %}
{{ parent() }}
                        <script src="{{ asset('bundles/oxindfeedback/js/search.js') }}" type="text/javascript"  ></script>
{% endblock %}